:root {
  --primary-color: #3b82f6;
}
  --theme-elevation-shadow-28172: 25px;
  --theme-spacing-unit-10384: 25px;
  --theme-font-weight-15546: 16px;
  --theme-spacing-unit-19558: 7px;
  --theme-font-weight-9159: 30px;
  --theme-border-radius-5362: 25px;
  --theme-z-index-layer-31119: 15px;
  --theme-border-radius-24695: 10px;
  --theme-elevation-shadow-26974: 21px;
  --theme-spacing-unit-5001: 21px;
  --theme-border-radius-28858: 28px;
  --theme-z-index-layer-12729: 15px;
  --theme-font-weight-8498: 27px;
  --theme-z-index-layer-16789: 21px;
