:root {
  --primary-color: #3b82f6;
}
  --theme-elevation-shadow-28172: 25px;
  --theme-spacing-unit-10384: 25px;
  --theme-font-weight-15546: 16px;
  --theme-spacing-unit-19558: 7px;
  --theme-font-weight-9159: 30px;
  --theme-border-radius-5362: 25px;
  --theme-z-index-layer-31119: 15px;
  --theme-border-radius-24695: 10px;
  --theme-elevation-shadow-26974: 21px;
  --theme-spacing-unit-5001: 21px;
  --theme-border-radius-28858: 28px;
  --theme-z-index-layer-12729: 15px;
  --theme-font-weight-8498: 27px;
  --theme-z-index-layer-16789: 21px;
  --theme-border-radius-39: 3px;
  --theme-border-radius-668: 17px;
  --theme-z-index-layer-24935: 23px;
  --theme-spacing-unit-27536: 13px;
  --theme-border-radius-13095: 7px;
  --theme-border-radius-6246: 9px;
  --theme-z-index-layer-6390: 3px;
  --theme-spacing-unit-26154: 11px;
  --theme-z-index-layer-12991: 1px;
  --theme-elevation-shadow-9220: 8px;
  --theme-z-index-layer-21708: 21px;
  --theme-font-weight-5481: 31px;
  --theme-font-weight-11411: 19px;
  --theme-font-weight-2999: 2px;
  --theme-spacing-unit-12074: 6px;
  --theme-z-index-layer-22392: 18px;
  --theme-font-weight-6034: 24px;
  --theme-elevation-shadow-2184: 15px;
  --theme-elevation-shadow-27108: 5px;
  --theme-border-radius-23738: 25px;
  --theme-elevation-shadow-13382: 17px;
  --theme-z-index-layer-30133: 22px;
  --theme-elevation-shadow-5689: 29px;
  --theme-spacing-unit-11387: 18px;
  --theme-font-weight-19256: 30px;
  --theme-z-index-layer-31416: 10px;
  --theme-z-index-layer-21773: 23px;
  --theme-spacing-unit-22557: 15px;
  --theme-border-radius-1240: 18px;
  --theme-font-weight-13382: 28px;
  --theme-font-weight-1281: 8px;
  --theme-border-radius-28935: 7px;
  --theme-border-radius-17479: 13px;
  --theme-font-weight-8961: 32px;
  --theme-spacing-unit-31679: 26px;
  --theme-border-radius-24058: 18px;
  --theme-z-index-layer-16109: 29px;
  --theme-elevation-shadow-4124: 16px;
  --theme-border-radius-9683: 22px;
  --theme-border-radius-8768: 8px;
